
body {
    magrin: 0 auto;
    background-color: lightgray;
    font-size: 17px;
}

#container {
    margin: 0 auto;
    border: royalblue solid 2px;
    width: 900px;
    background: lightsteelblue;
    padding: 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#header {
    border: royalblue solid 2px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: royalblue;
}

#login {
    margin-top: 5px;
    border: royalblue solid 2px;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: royalblue;
}

.logout_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    margin-top: 5px;
    width: 200px;
    border: royalblue solid 2px;
    /*padding: 5px;*/
    float: left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: royalblue;
    font-size: 17px;
}

#content {
    margin-top: 5px;
    margin-left: 210px;
    border: royalblue solid 2px;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: royalblue;
}

.post {
    margin-top: 5px;
    border: royalblue solid 2px;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: royalblue;
}

#footer {
    clear: left;
}

body a{
    text-decoration: none;
    color: royalblue;
}

body a:visited {
    color: royalblue;
}

body a:active {
    color: royalblue;
}

body a:hover {
    color: royalblue;
    text-decoration: underline;
}