<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div id="container">
        <div th:include="standard/header">
        </div>

        <div th:include="standard/logout">
        </div>

        <div th:include="standard/sidebar">
        </div>

        <div id="content">

            <div th:if="${posts.size() != 0}">

                <div th:each="post : ${posts}" class="post">
                    <span th:text = "${post.date}"></span>
                    User: <span th:text = "${post.user.getUsername()}"> </span><br/>
                    <span th:text = "${post.topic}"></span> <br/><br/>
                    <span th:text = "${post.text}"></span> <br/>

                    <span th:if = "${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                        <a  th:href="@{/post/edit(id = ${post.id})}">Edit</a>
                        <a  th:href="@{/post/delete(id = ${post.id})}">Delete</a>
                    </span>

                </div>

            </div>

            <!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
        </div>

        <div th:include="standard/footer">
        </div>

    </div>
</body>
</html>