<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div id="container">
        <div  th:include="standard/header">
        </div>

        <div th:include="standard/logout">
            <div xmlns:th="http://www.thymeleaf.org" id="login">
            <form name="f" th:action="@{/login}" method="post">

                <table>
                    <tr>
                        <td>
                            <span th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</span>
                        </td>
                        <td>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out"/>
                            </form>
                            <!--<div th:if="${param.logout}">
                                You have been logged out.
                            </div>-->
                        </td>
                    </tr>
                </table>


            </form>
            </div>
        </div>

        <div th:include="standard/sidebar">

        </div>
        <div id="content">
            Welcome to main page
        </div>
        <div th:include="standard/footer">

        </div>
    </div>
</body>
</html>