<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div id="container">
        <div id="header" th:include="standard/header">
        </div>

        <div id="sidebar" th:include="standard/sidebar">

        </div>
        <div id="content">
            <table>
                <tr th:each="person : ${persons}">
                    <td th:text = "${person.id}"></td>
                    <td th:text = "${person.firstName}"></td>
                    <td th:text = "${person.lastName}"></td>
                </tr>
            </table>

            <!--<a th:href="@{/logout}">Logout</a>-->

            <!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
            <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
            </form>

        </div>
        <div id="footer" th:include="standard/footer">

        </div>
    </div>
</body>
</html>