<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div id="container">
        <div th:include="standard/header">
        </div>

        <div th:include="standard/logout">
            </div>

        <div th:include="standard/sidebar">
        </div>

        <div id="content">

            <form name="f" th:action="@{/login}" method="post">
                <table>
                    <tr>
                        <td>
                            User Name:
                        </td>
                        <td>
                            <label><input type="text" name="username"/> </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password:
                        </td>
                        <td>
                            <label><input type="password" name="password"/></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Sign in"/>
                        </td>
                    </tr>
                </table>
            </form>

        </div>

        <div th:include="standard/footer">
        </div>

    </div>
</body>
</html>