<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div id="container">
        <div  th:include="standard/header">
        </div>

        <div th:include="standard/logout">
        </div>

        <div th:include="standard/sidebar">
        </div>

        <div id="content">

            <div th:include="modify/post_modify">
            </div>

        </div>

        <div th:include="standard/footer">
        </div>
    </div>
</body>
</html>