<div xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/post/add}" method="post" th:object="${post}">
    <table>
        <tr>
            <td>
                Topic:
            </td>
            <td>
                <input type="text" name="topic" size="18"/>
            </td>
        </tr>
        <tr>

            <td colspan="2">
                <textarea name="text" rows="10" cols="25">

                </textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"/>
            </td>
        </tr>
    </table>
    </form>
</div>